  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap');
  .headername{
    color: aliceblue;
  }
  .movie_web{
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
  }
  .header_icon{
    width: 38px;
    padding-right: 10px;
    align-items: center;
  }
  button:focus{
    outline: none;
  }
  img{
    object-fit: contain;
  }
.search_container{
  display: none;
}
.search_text{
  word-wrap: break-word;
}
.container{
  background-color: rgba(63, 63, 63, 0.407);
  padding-bottom: 20px;
}
